In [114]:
#load packages
import pandas as pd
import re
import string

In [115]:
#load the economic indicators file from IMF
df = pd.read_csv('WEO_Data.csv')
df.head()

,Country,Subject Descriptor,Units,Scale,Country/Series-specific Notes,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,Estimates Start After
0,Afghanistan,"Gross domestic product, constant prices",National currency,Billions,Source: National Statistics Office Latest actu...,899.956,958.266,"1,092.12","1,154.18","1,185.31","1,197.01","1,222.92","1,255.29","1,270.22","1,319.90","1,288.87",NaN,NaN,2020.0
1,Afghanistan,"Gross domestic product, constant prices",Percent change,NaN,"See notes for: Gross domestic product, consta...",8.438,6.479,13.968,5.683,2.697,0.988,2.164,2.647,1.189,3.912,-2.351,NaN,NaN,2020.0
2,Afghanistan,"Gross domestic product, current prices",National currency,Billions,Source: National Statistics Office Latest actu...,711.759,836.222,"1,033.59","1,116.83","1,183.04","1,226.57","1,222.92","1,285.46","1,327.69","1,469.60","1,547.29",NaN,NaN,2020.0
3,Afghanistan,"Gross domestic product, current prices",U.S. dollars,Billions,"See notes for: Gross domestic product, curren...",15.325,17.89,20.293,20.17,20.616,20.057,18.02,18.883,18.401,18.876,20.136,NaN,NaN,2020.0
4,Afghanistan,"Gross domestic product, current prices",Purchasing power parity; international dollars,Billions,"See notes for: Gross domestic product, curren...",46.309,50.334,59.945,63.784,69.444,72.056,70.098,74.712,77.418,81.889,81.007,NaN,NaN,2020.0

In [116]:
#standardise column names
def standardise_column_names(df, remove_punct=True):
    translator = str.maketrans(string.punctuation, ' '*len(string.punctuation))

    for c in df.columns:
        c_mod = c.lower()
        if remove_punct:            
            c_mod = c_mod.translate(translator)
        c_mod = '_'.join(c_mod.split(' '))
        if c_mod[-1] == '_':
            c_mod = c_mod[:-1]
        c_mod = re.sub(r'\_+', '_', c_mod)
        df.rename({c: c_mod}, inplace=True, axis=1)
    return df

In [117]:
standardise_column_names(df)

,country,subject_descriptor,units,scale,country_series_specific_notes,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,estimates_start_after
0,Afghanistan,"Gross domestic product, constant prices",National currency,Billions,Source: National Statistics Office Latest actu...,899.956,958.266,"1,092.12","1,154.18","1,185.31","1,197.01","1,222.92","1,255.29","1,270.22","1,319.90","1,288.87",NaN,NaN,2020.0
1,Afghanistan,"Gross domestic product, constant prices",Percent change,NaN,"See notes for: Gross domestic product, consta...",8.438,6.479,13.968,5.683,2.697,0.988,2.164,2.647,1.189,3.912,-2.351,NaN,NaN,2020.0
2,Afghanistan,"Gross domestic product, current prices",National currency,Billions,Source: National Statistics Office Latest actu...,711.759,836.222,"1,033.59","1,116.83","1,183.04","1,226.57","1,222.92","1,285.46","1,327.69","1,469.60","1,547.29",NaN,NaN,2020.0
3,Afghanistan,"Gross domestic product, current prices",U.S. dollars,Billions,"See notes for: Gross domestic product, curren...",15.325,17.89,20.293,20.17,20.616,20.057,18.02,18.883,18.401,18.876,20.136,NaN,NaN,2020.0
4,Afghanistan,"Gross domestic product, current prices",Purchasing power parity; international dollars,Billions,"See notes for: Gross domestic product, curren...",46.309,50.334,59.945,63.784,69.444,72.056,70.098,74.712,77.418,81.889,81.007,NaN,NaN,2020.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8621,Zimbabwe,Gross domestic product corresponding to fiscal...,National currency,Billions,Source: Ministry of Finance or Treasury Latest...,12.042,14.1,17.116,19.093,19.499,19.969,20.555,21.385,36.945,212.173,"1,378.80","3,185.62","12,889.98",2021.0
8622,Zimbabwe,Current account balance,U.S. dollars,Billions,Source: Reserve Bank of Zimbabwe and Ministry ...,-1.655,-2.75,-2.278,-2.649,-2.334,-1.597,-0.697,-0.271,-1.38,0.92,0.678,0.348,0.267,2021.0
8623,Zimbabwe,Current account balance,Percent of GDP,NaN,"See notes for: Gross domestic product, curren...",-13.747,-19.5,-13.307,-13.873,-11.969,-7.996,-3.393,-1.268,-3.734,3.536,2.524,0.968,0.808,2021.0
8624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8625,"International Monetary Fund, World Economic Ou...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
#deal with missing values
df["subject_descriptor"] = df["subject_descriptor"].fillna("")
#df

In [121]:
#print(df["subject_descriptor"].unique())

In [147]:
#filter by subject descriptor
mask1 = df["subject_descriptor"].str.contains("Gross domestic product per capita, current prices")
mask2 = df["subject_descriptor"].str.contains("Inflation, average consumer prices")
mask3 = df["subject_descriptor"].str.contains("Unemployment rate")
#combine all the rows that satisfy any of the masks
df = df[mask1 | mask2 | mask3]

#filter by units
mask4 =  df["units"].str.contains("U.S. dollars")
mask5 =  df["units"].str.contains("Index")

#combine all the rows that satisfy any of the masks
df = df[mask3 | mask4 | mask5]
df.drop(['scale', 'country_series_specific_notes'], axis = 1, inplace = True)
df

,country,subject_descriptor,units,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,estimates_start_after
9,Afghanistan,"Gross domestic product per capita, current prices",U.S. dollars,631.49,714.7,784.611,754.402,746.922,705.597,617.126,635.789,582.323,586.204,611.268,NaN,NaN,2019.0
16,Afghanistan,"Inflation, average consumer prices",Index,76.229,85.227,90.717,97.417,101.97,101.296,105.736,110.998,111.693,114.264,120.671,NaN,NaN,2020.0
24,Afghanistan,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Albania,"Gross domestic product per capita, current prices",U.S. dollars,"4,097.83","4,439.89","4,248.91","4,415.60","4,584.92","3,953.61","4,124.41","4,525.89","5,257.71","5,345.06","5,268.24","6,373.30","6,457.22",2021.0
60,Albania,"Inflation, average consumer prices",Index,89.8,92.892,94.783,96.608,98.167,100,101.287,103.297,105.393,106.88,108.613,110.831,118.286,2022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8552,Zambia,"Inflation, average consumer prices",Index,105.956,115.13,122.7,131.263,141.515,155.818,183.662,195.742,210.412,229.666,265.798,324.329,359.983,2021.0
8560,Zambia,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8589,Zimbabwe,"Gross domestic product per capita, current prices",U.S. dollars,975.851,"1,131.68","1,310.44","1,421.70","1,415.28","1,425.47","1,444.72","1,481.24","2,523.25","1,746.51","1,769.57","2,321.63","2,087.67",2017.0
8596,Zimbabwe,"Inflation, average consumer prices",Index,56.148,58.097,60.258,61.241,61.111,59.638,58.709,59.242,65.526,232.807,"1,530.03","3,037.82","8,912.93",2022.0
8604,Zimbabwe,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
#load unemployment rate file
unemp = pd.read_csv('unemployment.csv', skiprows=[0], header = 1)
standardise_column_names(unemp)

,country_name,country_code,indicator_name,indicator_code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,unnamed_66
0,Aruba,ABW,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.512784,6.555645,6.707142,6.855589,6.940365,6.913046,7.121664,7.631303,7.920219,NaN
2,Afghanistan,AFG,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.949000,7.910000,8.989000,10.086000,11.180000,11.110000,11.085000,11.710000,NaN,NaN
3,Africa Western and Central,AFW,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.804448,3.985878,4.241136,4.112958,4.140484,4.201599,4.261414,4.914143,4.873635,NaN
4,Angola,AGO,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.834000,9.580000,9.584000,9.586000,9.535000,9.522000,9.481000,10.350000,10.384000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,13.264000,13.470000,13.783000,13.407000,13.250000,13.076000,12.978000,13.575000,13.887000,NaN
263,South Africa,ZAF,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.040001,22.610001,22.870001,24.020000,23.990000,24.219999,25.540001,24.340000,28.770000,NaN
264,Zambia,ZMB,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.005000,8.133000,8.280000,8.393000,8.520000,5.030000,5.540000,6.030000,6.220000,NaN
265,Zimbabwe,ZWE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.994000,4.770000,5.282000,5.796000,6.279000,6.784000,7.370000,7.898000,8.067000,NaN

In [145]:
# create a list of columns to drop
cols_to_drop = [str(year) for year in range(1960, 2010)]

# select string columns using boolean indexing and combine them with selected year columns
unemp_filtered = unemp.loc[:, ~unemp.columns.isin(cols_to_drop) | unemp.columns.str.contains('country_name')]

unemp_filtered.drop(['country_code', 'indicator_name','indicator_code', 'unnamed_66'], axis = 1, inplace = True)
unemp_filtered

/var/folders/ll/_15vm2qs6bgbljw854xmcf9m0000gn/T/ipykernel_13862/3107122169.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unemp_filtered.drop(['country_code', 'indicator_name','indicator_code', 'unnamed_66'], axis = 1, inplace = True)

,country_name,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,6.933645,6.715358,6.599356,6.512784,6.555645,6.707142,6.855589,6.940365,6.913046,7.121664,7.631303,7.920219
2,Afghanistan,8.068000,7.947000,8.019000,7.949000,7.910000,8.989000,10.086000,11.180000,11.110000,11.085000,11.710000,NaN
3,Africa Western and Central,4.235777,4.188828,4.167556,3.804448,3.985878,4.241136,4.112958,4.140484,4.201599,4.261414,4.914143,4.873635
4,Angola,9.430000,7.360000,8.064000,8.834000,9.580000,9.584000,9.586000,9.535000,9.522000,9.481000,10.350000,10.384000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",12.826000,13.249000,13.165000,13.264000,13.470000,13.783000,13.407000,13.250000,13.076000,12.978000,13.575000,13.887000
263,South Africa,23.180000,21.420000,21.790001,22.040001,22.610001,22.870001,24.020000,23.990000,24.219999,25.540001,24.340000,28.770000
264,Zambia,13.190000,10.585000,7.850000,8.005000,8.133000,8.280000,8.393000,8.520000,5.030000,5.540000,6.030000,6.220000
265,Zimbabwe,5.189000,5.370000,5.139000,4.994000,4.770000,5.282000,5.796000,6.279000,6.784000,7.370000,7.898000,8.067000